*{
  margin : 0;
  padding : 0;
  border : 0;
  width : 375px;
}

.header {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.05);
    height : 155px;
    position : fixed;
    background : #fff;
    z-index:10;
    top:0;
}

.conditionbar img{
    width : 373px;
    height : 20px;
}

.conditionbar {
  width :373px;
  height : 20px;
  margin : 0 1px 0 1px;
}

.selectinfo{
  width : 375px;
  height: 135px;
  display : flex;
}

.roominfo{
  width : 291px;
  height : 83px;
  margin : 36px 0 16px 12px;
}


#totaldays{
  width : 64px;
  height : 36px;
  margin-bottom : 16px;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #000000;
  letter-spacing: -1.7px;
}

#roomname{
  width : 66px;
  height : 12px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #707070;
  letter-spacing : -1px;
  margin-bottom : 6px;
}

#days{
  width : 102px;
  height : 13px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: #707070;
  letter-spacing: -0.5px;
}

#roomimg{
  width : 60px;
  height : 60px;
  margin : 59px 12px 16px 0;
}

.settings{
  width : 52px;
  height : 20px;
  padding : 32px 161px 12px 162px;
  background: #f5f5f5;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  text-align: center;
  color: #000000;
  letter-spacing:-1px;
  margin-top : 155px;
}

#daytime{
  width : 375px;
  display : flex;
}

.info1{
  width : 107px;
  height : 93px;
  display : flex;
}

.info1 img{
    width :40px;
    height: 40px;
    margin : 27px 16px 26px 12px;
}

.info1 div{
  width: 39px;
  height: 20px;
  margin : 37px 0 36px 0;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #000000;
  letter-spacing : -1px;
}

.info2{
  width : 86px;
  height : 93px;
  margin-right : 12px;
  margin-left : 170px;
  text-align : right;
}

.info2 div{
  text-align : right ;
}

.reservation{
    width:375px;
    height : 112px;
    display : flex;
}

.alterbutton{
  width: 44px;
  height: 12px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  line-height: 12px;
  padding-left : 42px;
  color: #000000;
  letter-spacing : -1px;
  margin-top : 16px;
  margin-bottom : 16px;
}

.timeinfo{
   width: 86px;
   height: 12px;
   font-family: NotoSansCJKkr;
   font-size: 12px;
   line-height: 12px;
   color: rgba(44, 44, 44, 0.6);
   margin-bottom : 9px;
   letter-spacing: -0.5px;
}

.priceinfo{
  width: 86px;
  height: 12px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  line-height: 12px;
  color: rgba(44, 44, 44, 0.6);
}

hr{
   border-width : 0.25px;
   color : #000000;
}

.disable, .allow{
  width: 62px;
  height: 16px;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #000000;
  letter-spacing: -1.6px;
}

.disable{
  margin-bottom : 32px;
}

.selectbutton img{
  width : 32px;
  height : 32px;
}

.selectbutton img:nth-child(1){
  margin-bottom : 16px;
}
.selectbutton{
  width : 32px;
  height : 80px;
  margin : 16px 24px 16px 0;
}

.select{
  width : 62px;
  height :64px;
  margin  : 24px 233px 24px 24px;
}

.whitespace{
  height : 10px;
  background : #f5f5f5;
}

.bottomspace{
  height : 105px;
  background : #f5f5f5;
}

.complete{
  height : 72px;
  position : fixed;
  bottom : 9px;
  background :#fff;
  box-shadow: 3px -3px 4px 0 rgba(0, 0, 0, 0.06);
}

.confirmbutton {
  width : 26px;
  height : 20px;
  margin : 12px 12px 12px 12px;
  background-color : #006cb3;
  padding : 14px 162px 14px 163px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
   border-radius: 4px;
  letter-spacing: -1px;
}
