*{
  margin : 0;
  padding : 0;
  border : 0;
  width : 375px;
}

.header {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.05);
    height : 155px;
    position : fixed;
    background : #fff;
    z-index:10;
    top:0;
}

.conditionbar img{
    width : 373px;
    height : 20px;
}

.conditionbar {
  width :373px;
  height : 20px;
  margin : 0 1px 0 1px;
}

.selectinfo{
  width : 375px;
  height: 135px;
  display : flex;
}

.roominfo{
  width : 291px;
  height : 83px;
  margin : 36px 0 16px 12px;
}


#totaldays{
  width : 90px;
  height : 36px;
  margin-bottom : 16px;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #000000;
  letter-spacing: -1.7px;
}

#roomname{
  width : 66px;
  height : 12px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #707070;
  letter-spacing : -1px;
  margin-bottom : 6px;
}

#days{
  width : 102px;
  height : 13px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: #707070;
  letter-spacing: -0.5px;
}

#roomimg{
  width : 60px;
  height : 60px;
  margin : 59px 12px 16px 0;
}

.settings{
  width : 52px;
  height : 20px;
  padding : 32px 161px 12px 162px;
  background: #f5f5f5;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  text-align: center;
  color: #000000;
  letter-spacing:-1px;
  margin-top : 155px;
}

#daytime, #nighttime, #allday{
  width : 375px;
  display : flex;
}

.info1{
  width : 107px;
  height : 93px;
  display : flex;
}

.info1 img{
    width :40px;
    height: 40px;
    margin : 27px 16px 26px 12px;
}

.info1 div{
  width: 39px;
  height: 20px;
  margin : 37px 0 36px 0;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #000000;
  letter-spacing : -1px;
}

.info2{
  width : 86px;
  height : 93px;
  margin-right : 12px;
  margin-left : 170px;
  text-align : right;
}

.info2 div{
  text-align : right ;
}

.reservation{
    width:375px;
    height : 112px;
    display : flex;
}

.alterbutton{
  width: 44px;
  height: 12px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  line-height: 12px;
  padding-left : 42px;
  color: #000000;
  letter-spacing : -1px;
  margin-top : 16px;
  margin-bottom : 16px;
  cursor : pointer;
}

.timeinfo{
   width: 86px;
   height: 12px;
   font-family: NotoSansCJKkr;
   font-size: 12px;
   line-height: 12px;
   color: rgba(44, 44, 44, 0.6);
   margin-bottom : 9px;
   letter-spacing: -0.5px;
}

.priceinfo{
  width: 86px;
  height: 12px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  line-height: 12px;
  color: rgba(44, 44, 44, 0.6);
}

hr{
   border-width : 0.25px;
   color : #000000;
}

.disable, .allow{
  width: 62px;
  height: 16px;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #000000;
  letter-spacing: -1.6px;
}

.disable{
  margin-bottom : 32px;
}

.selectbutton img{
  width : 32px;
  height : 32px;
}

.button.unselected{
  cursor : pointer;
}

.selectbutton img:nth-child(1){
  margin-bottom : 16px;
}
.selectbutton{
  width : 32px;
  height : 80px;
  margin : 16px 24px 16px 0;
}

.select{
  width : 62px;
  height :64px;
  margin  : 24px 233px 24px 24px;
}

.whitespace{
  height : 10px;
  background : #f5f5f5;
}

.bottomspace{
  height : 105px;
  background : #f5f5f5;
}

.complete{
  height : 72px;
  position : fixed;
  bottom : 9px;
  background :#fff;
  box-shadow: 3px -3px 4px 0 rgba(0, 0, 0, 0.06);
  display : none;
}

.confirmbutton {
  width : 26px;
  height : 20px;
  margin : 12px 12px 12px 12px;
  background-color : #006cb3;
  padding : 14px 162px 14px 163px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  letter-spacing: -1px;
  cursor : pointer;
}

#popup2{
   width : 375px;
   height : 100%;
   top:0;
   left:0;
   position : fixed;
   z-index : 100;
   border: solid 1px #707070;
   background-color: rgba(23, 23, 23, 0.7);
   display : none;
}
#popupbox{
  width : 351px;
  height : 484px;
  position : fixed;
  top : 0;
  left : 12px;
  border-radius: 4px;
  background-color : rgba(255,255,255,1);
}

#popupbox .selectinfo{
  width : 351px;
  height: 123px;
  display : flex;
}

#popupbox .roominfo{
  width : 259px;
  height : 83px;
  margin : 24px 0 16px 16px;
}


#popupbox #totaldays{
  width : 64px;
  height : 36px;
  margin-bottom : 16px;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #000000;
  letter-spacing: -1.7px;
}

#popupbox #roomname{
  width : 69px;
  height : 12px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #707070;
  letter-spacing : -1px;
  margin-bottom : 6px;
}

#popupbox #days{
  width : 102px;
  height : 13px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: #707070;
  letter-spacing: -0.5px;
}

#popupbox #roomimg{
  width : 60px;
  height : 60px;
  margin : 47px 16px 16px 0;
}

.announce{
  width : 351px;
  height : 39px;
}

.announce div:nth-child(1) {
  width : 164px;
  height : 14px;
  margin : 40px 171px 12px 16px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  color: #000000;
  letter-spacing: -1.5px;
}


.announce div:nth-child(2){
  width : 305px;
  height : 13px;
  margin : 0 30px 0 16px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: #c6c6c6;
  letter-spacing :-0.8px;
}

.daytimeinfo{
  width : 335px;
  height : 40px;
  margin : 40px 0 0 16px;
  display : flex;
}

.daytimeinfo img{
  width : 40px;
  height : 40px;
  margin-right : 16px;
}


.daytimeinfo div{
  width: 39px;
  height: 20px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #000000;
  margin : 10px 240px 10px 0;
  letter-spacing: -1px;
}

form{
  width : 351px;
  height : 202px;
  flex;
}

.content{
  width : 47px;
  height : 12px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: #707070;
}
.timeinput .content{
  margin : 31px 59px 27px 16px;
  letter-spacing: -1.5px;
}
.priceinput .content{
  margin : 16px 59px 16px 16px;
  letter-spacing: -1px;
}


.timeinput, .priceinput{
  display : flex;
  width : 351px;
}

#timeinput, #priceinput{
  border-radius: 4px;
  border: solid 1px #e6e6e6;
}

#timeinput {
  width : 189px;
  height : 14px;
  margin : 16px 16px 10px 0;
  padding : 14px 11px 14px 11px;
}

#timeinput::placeholder {
  font-family: NotoSansCJKkr;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  color: #707070;
}

#priceinput{
  width : 189px;
  height : 15px;
  margin : 0 16px 0 0 ;
  padding : 14px 11px 13px 11px;
}

#priceinput::placeholder{
  font-family: NotoSansCJKkr;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  color: #707070;
}

#submit{
  width : 351px;
  height : 48px;
  margin-top : 40px;
  padding : 14px 149px 14px 150px;
  background : #006cb3;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  border-radius: 0 0 4px 4px;
  letter-spacing: -1px;
  cursor : pointer;
}
